
body {
    display:flex;
    flex-direction:column;
    font-family: 'Roboto', Arial, 'Times New Roman', Times, serif;
    margin:0;
    padding:0;
}

.header,.footer {
    background-color: #1f2937;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px;
}

.logo img{
    border-radius: 10px;
}

.link {
    margin-right:30px;
    padding:40px;
}

a,.title,.footer {
    text-decoration:none;
    color:#E5e7eb;
    font: 18px;
    padding:15px
}

.title {
    background:#1f2937;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;

}

.titlebx {
    padding:40px 200px;
}

.mustang img{
    border-radius: 60px ;
    padding:40px

}

.services {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding: 50px;
}

.servicetxt {
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.cards {
    justify-content:space-around;
    padding:50px;
}

.cards img {
    border: 2px solid #3882f6;
    border-radius: 25px
}

.quote {
    background: #e5e7eb;
    font-size: 36px;
    font-weight:bold;
    font-style: italic;
    color: #1f2937;
    padding:100px;
    margin:0;
}

.follow {
    display:flex;
    margin:50px 200px;
    padding:60px 120px;
}

.follow, button{
    background-color:#3882f6;
    color: #f9faf8;
}

button {
    border: 2px solid #f9faf8;
    border-radius: 8px;
    
}

.follow {
    display:flex;
}

.followtxt {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.call {
    font-size: 20px;
    font-weight: bold;
}

.follow button {
    margin-left:20px;
    font-weight: bold;
}

.footer {
    justify-content:center;
}