

.header,.title{
    background:#1f2937;
    color:#f9faf8;
}

a {
    text-decoration:none;
    color:#f9faf8;
    text: 18px;
}

.services {

}

.quote {
    background: #e5e7eb;
    text: 36px;
    font-style: light italic;
    color: #1f2937
}