
.body {
    display:flex;
    flex-direction:column;
}

.header,.title{
    background:#1f2937;
    color:#f9faf8;
}

.header{
    display:flex;
    justify-content:space-between;

}

a {
    text-decoration:none;
    color:#f9faf8;
    text: 18px;
}

.title {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    padding: 30px;

}
.services {
    display:flex;
    justify-content: center;

}

.cards {
    justify-content:space-around;
    padding:50px;
}

.cards img {
    border:#3882f6;
}

.quote {
    background: #e5e7eb;
    text: 36px;
    font-style: light italic;
    color: #1f2937
}

.follow, button{
    background-color:#3882f6;

}